@keyframes points {
    from {
        opacity: 1;
        transform: scale(1);
    }

    ;

    to {
        transform: scale(0);
        opacity: 0;
    }
}

[class*=pt] {
    animation: points infinite 2000ms ease-in-out both;
    opacity: 1;
}

.pt1 {
    animation-delay: 250ms;
    margin-left: 10px;
}

;

.pt2 {
    animation-delay: 500ms;
}

;

.pt3 {
    animation-delay: 750ms;
}

;

@keyframes menu {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    ;

    100% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.menu__clique {
    &:hover {

        animation: menu 200ms ease-in-out both;
    }
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

footer a {
    &:hover {
        animation: wiggle 300ms infinite;
    }
}