@keyframes points{
    from{
        opacity: 1;
        transform: scale(1);
    };
    to{
        transform: scale(0);
        opacity: 0;
    }    
}
[class*=pt]{
    animation: points infinite 2000ms ease-in-out both;
    opacity: 1;
}
.pt1{
    animation-delay: 250ms;
    margin-left: 10px;
};
.pt2{
    animation-delay: 500ms;
};
.pt3{
    animation-delay: 750ms;
};

@keyframes menu{
    0%{
        opacity: 1;
        transform: scale(1);
    };
    100%{
        transform: scale(1.1);
        opacity: 0.8;
    } 
 } 
a
    :hover {
        animation: menu 300ms 50ms ease-in-out both;}
    
 


