@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');


.blocMenu {
    display: grid;
    width: 85vw;
    margin: auto;
    height: 1750Px;
    align-content: space-evenly;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu1 menu2"
        "menu3 menu4";

    .menu1 {
        @include menu(menu1);

    }

    .menu2 {
        @include menu(menu2);
        

        p {
            @include radient(menu2);
        }
    }

    .menu3 {
        @include menu(menu3);

        >* {
            @include radient(menu3);
        }
    }

    .menu4 {
        @include menu(menu4);

        >* {
            @include radient(menu4);
        }
    }
}


.prochainement {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: start;
    height: 180px;

    .blocProch {
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: map-get($bg-color, gen);
        border-radius: 25px;


        .points {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;


            h2 {
                display: inline-block;
                color: map-get($text-color, gen);
                font-size: map-get($font-size, h2);
                font-weight: 400;
                width: fit-content;
                overflow-x: none;
            }

            [class*=pt] {
                @include points;
            }
        }
    }
}