@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.blocMenu {
     
 
    .menu1 {
        @include menu(menu1);

        img, p{
            margin: 0;
        }
        h3{
            font-family: map-get($font-family,menu1titre);

        }
        img{
         @include note ;
        }

    }

    .menu2 {
        @include menu(menu2);

        
        p {
            @include radient(menu2);
            font-size: calc(map-get($font-size,menu)80%) ;
        }
        h3{
            font-family: map-get($font-family,menu2titre);
            font-size: calc(map-get($font-size,menu)130%);

        }
    }

    .menu3 {
        @include menu(menu3);


        p{
            @include radient(menu3);
        }
        h3{
            font-family: map-get($font-family,menu3titre);

        }
    }

    .menu4 {
        @include menu(menu4);

        p{
            @include radient(menu4);
        }
        h3{
            font-family: map-get($font-family,menu3titre);

        }

    } 
}


.prochainement {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: start;
    @include tablet{
        height: 100px;
    }
    @include mobile{
        height: 80px;
    }
 

    .blocProch {
        display: flex;
        flex-direction: row;
        width: 40vw;
        justify-content: center;
        align-items: center;
        background-color: map-get($bg-color, gen);
        border-radius: 15px;
        @include tablet{
            height: 60px;
        }
        @include mobile{
            height: 35px;
            border-radius: 10px;
        }
        


        .points {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;


            h2 {
                color: map-get($text-color, gen);
                font-size: map-get($font-size, prochainement);
                font-weight: 400;
                width: fit-content;
                @include tablet {
                font-size: map-get($font-size,prochainement)/1.5;
    
                }
                @include mobile {
                font-size: map-get($font-size,prochainement)/2.1;

            }
          
            }

            [class*=pt] {
                @include points;
            }
        }
    }
}