    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    .body__index {
        height: 2000px;

        @include tablet {
            height: 1300px;
        };
        @include mobile {
            height: 100vh;
        }
    }
    .body__page {
        height: 1600px;

        @include tablet {
            // height: 200vh;
            max-height: 1300px;
        };
        @include mobile {
            height: 125vh;
        }
    }
  
    main {
        overflow-x: hidden;
        margin: auto;
        font-family: map-get($font-family, gen);
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: map-get($bg-color, gen);
        @include tablet {
            height: 160px;
        }

        @include mobile {
            height: 90px;
        }

        a {
            text-decoration: none;

        h1 {
            margin: auto;
            color: map-get($text-color, gen);
            font-size: map-get($font-size, header);
            font-family: map-get($font-family, gen);
            letter-spacing: -0.5rem;

            @include tablet {
                font-size: map-get($font-size, header)/1.5;
                letter-spacing: -0.3rem;


            }

            @include mobile {
                font-size: map-get($font-size, header)/3;
                letter-spacing: -0.15rem;
            }

        };

        }
    }
    .blocMenu {
        display: grid;
        width: 80vw;
        max-width: 110vw;
        margin: auto;
        height: 1500px;
        justify-items: center;
        align-content: space-evenly;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;

        @include tablet {
            // height:130vh;
            width: 80vw;
            max-height: 900px;


        };

        @include mobile {
            margin-left: 0 0 0 auto;
            width: 100vw;
            height: 68vh;
            padding-left: 8%;
            padding-right: 8%;
        

        }

        ;
        grid-template-areas: "menu1 menu2"
        "menu3 menu4";
    }

    .menu {
        display: flex;
        margin: 0;
        padding: 0;
    }

    footer {

        height: 80px;
        background-color: map-get($bg-color, gen);
        color: map-get($text-color, gen);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        position: fixed;
        bottom: 0;
        width: 100vw;

        @include mobile {
            height: 50px;

        }

        a {
            display: block;
            text-decoration: none;

            h3 {
                font-size: map-get($font-size, footer);
                font-weight: 400;
                color: map-get($text-color, gen);

                @include tablet {
                    font-size: map-get($font-size, footer)/1.4;

                }

                @include mobile {
                    font-size: map-get($font-size, footer)/2.2;
                }


            }
        }

        .mentions {
            margin-left: 2%;
            text-align: left;
        }

        .contact {
            margin-right: 2%;
            text-align: right;
        }
    }