body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    main {
        overflow-x: hidden;
        margin: auto;
        font-family: map-get($font-family, gen);

        header {
            @include header;
        }

        .menu {
            display: flex;
            margin: 0;
            padding: 0;
        }

        footer {
            @include footer;
        }
    }
}