main {
    @include legende;
}


.menuPage__menu3 {
    @include menuPage(menu3);
    color: black;



    h2 {
        @include radient(menu3);
    }

    h3 {
        font-family: map-get($font-family, menu1titre);
        font-weight: 300;
        text-align: center;

    }

    ul {
        font-family: map-get($font-family, menu1titre);
        font-weight: 300;

        list-style-type: none;


    }

    .entree {
        .menu--titre {
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
            
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, entree__menu3);
                    left: 0;
                }
            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .plat {
        .menu--titre {
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
        

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, plat__menu3);
                    left: 0;
                }
            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .dessert {
        .menu--titre {
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
       

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, dessert__menu3);
                    left: 0;
                }

            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }


        }

        .dessert__menu {
            display: flex;

            li:first-child {
                flex: 1 3 800px;
            }

            li:last-child {
                margin-left: 3%;
                flex: 0.5 0 10px;
                text-align: center;
            }

        }
    }


}