main {
    @include legende;


    .menuPage__menu1 {
        @include menuPage(menu1);
        .entree__menu, .plat__menu, .dessert__menu{
            padding: 0;
        }

        h3 {
            font-family: map-get($font-family, menu1titre);
        }

        .blocTitre {

            img {

                margin: auto;
                margin-bottom: 0;
                @include note;
                min-width: 100px;
                min-height: 100px;
              
            }
            h2{
                margin-top: 0;
            }
        }

        h3 {
            text-align: center;
        }

        ul {
            font-family: map-get($font-family, menu1titre);


        }

        .blocTitre__bottom {
            flex-direction: row;
            flex: auto;
            height: 120px;

            align-items: center;
            @include mobile{
                height: 80px;
            }

            h2 {
                height: fit-content;
                margin: 0;
                font-size: 2.8rem;
                padding-left: 10px; 
                @include tablet{
                    font-size: 2.4rem;
                }
                @include mobile{
                    font-size: 1.5rem;
                }
              

            }

            img {
                @include note;
                margin: 0;
                @include tablet{
                    min-width: 40px;
                    min-height: 40px;
                }
                @include mobile{
                    min-width: 20px;
                    min-height: 20px;
                }
            }
        }

    }
}