.menuPage__menu2 {
    @include menuPage(menu2);


    .blocTitre {

        h2 {
            @include radient(menu2);
            font-size: map-get($font-size,menuPage__titre)/1.7;
        }
    }

    .entree, .plat, .dessert{
        
        .menu--titre {
            h3{
            font-size: map-get($font-size,menuPage__categ)/1.2;

            }
            li:nth-child(1), li:nth-child(3){
                width: 23%;
                
            }
       } 
  }
  .entree__menu, .plat__menu, .dessert__menu{
    font-size: map-get($font-size,menuPage__texte)/1.25;

  }


    .entree {
        color: map-get($text-color, entree__menu2);

        .menu--titre {
           
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
                margin-block-start: 0;
                margin-block-end: 0;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, entree__menu2);
                    left: 0;
                }
            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }

    }

    .plat {
        color: map-get($text-color, plat__menu2);

        .menu--titre {
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
                margin-block-start: 0;
                margin-block-end: 0;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, plat__menu2);
                    left: 0;
                }
            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }

    }

    .dessert {
        color: map-get($text-color, dessert__menu2);

        .menu--titre {
            h3 {
                display: block;
                flex: 2;
                text-align: center;
                position: relative;
                margin-left: 2%;
                margin-right: 2%;
                margin-block-start: 0;
                margin-block-end: 0;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    width: 1px;
                    height: 0.15rem;
                    transition: all 180ms 20ms cubic-bezier(.56, .93, 1, .58);
                    opacity: 0;
                    background-color: map-get($text-color, dessert__menu2);
                    left: 0;
                }
            }

            h3 {


                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }
    }

}