main {
    @include legende;


    .menuPage__menu1 {
        @include menuPage(menu1);

        h3 {
            font-family: map-get($font-family, menu1titre);
        }

        .blocTitre {

            img {
                margin: auto;
                margin-bottom: 0;
                @include note;
                min-width: 200px;
                min-height: 200px;
            }
            h2{
                margin-top: 0;
            }
        }

        h3 {
            text-align: center;
        }

        ul {
            display: flex;
            font-family: map-get($font-family, menu1titre);
            list-style-type: none;


        }

        .blocTitre__bottom {
            height: 200px;
            flex-direction: row;
            flex: auto;

            align-items: center;

            h2 {
                height: fit-content;
                margin: 0;
                font-size: 3.5rem;
                padding-left: 10px;

            }

            img {
                @include note;
                margin: 0;
            }
        }

    }
}