
       

    .menuPage__menu2 {
        @include menuPage(menu2);
        .blocTitre{
       
        h2{  
            @include radient(menu2);
            font-size: 3.8rem;

        }
    }

        .entree__menu2{
            color: map-get($text-color,entree__menu2);

        }
        .plat__menu2{
            color: map-get($text-color,plat__menu2);

        }
        .dessert__menu2{            
            color: map-get($text-color,dessert__menu2);


        }

        h3 {
            font-family: map-get($font-family, menu2titre);
            text-align: center;
        }

        ul {
            display: flex;
            font-family: map-get($font-family, menu2titre);
            list-style-type: none;


        }
       

    }
