
        
.menuPage__menu2 {
    @include menuPage(menu2);
    font-family: map-get($font-family,menu2titre);
    .blocTitre{
        @include radient(menu2)
    }
    .menu--titre{
        font-size: map-get($font-size,texte)/1.2;
    }
    
    >.entree {
        color: map-get($text-color, entree__menu2);

    }

    >.plat{
        color: map-get($text-color, plat__menu2);

    }

    >.dessert{
        color: map-get($text-color, dessert__menu2);}

}

    
    
