@mixin menu($menu) {
    display: block;
    text-decoration: none;
    background-color: map-get($bg-color, $menu);
    grid-area: $menu;
    width: 85%;
    max-width: 540px;
    height: 700px;
    
    @include tablet{
        height: 500px;
        margin: auto;
        width: 90%;
        font-size: map-get($font-size, menu)/1.3;

    }
    @include mobile{
        max-width: 200px;
        margin: auto;
        height: 280px;
        font-size: map-get($font-size, menu)/2.5;

    }
    box-shadow: 0 0 25px lighten(grey, 25%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: map-get($font-size, menu);
    font-family: map-get($font-family, $menu);
    color: map-get($text-color, $menu);
}

@mixin radient ($menu) {
    background: map-get($radient-text, $menu);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;

}

@mixin points {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-right: 5px;

    @include mobile{
        width: 4px;
        height: 4px;
        margin-right: 3px;
    }
  
    background-color: map-get($text-color, gen);
}

@mixin note {
    width: 10%;
    height: 10%;
    min-width: 60px;
    min-height: 60px;
    @include tablet{
       min-width: 50px;
       min-height: 50px; 
    }
    @include mobile{
        min-width: 30px;
        min-height: 30px;
    }
}

@mixin legende {
    .legende {
        display: block;
        text-align: center;
        margin-top: 7%;
        margin-bottom: 2%;
        font-size: map-get($font-size,legende);
        @include tablet{
            font-size: map-get($font-size,legende)/1.2;
        }
        @include mobile{
            font-size: map-get($font-size,legende)/2.2;
        }
    }
}

@mixin menuPage($menu) {
    color: map-get($text-color, $menu);
    background-color: map-get($bg-color, $menu);
    box-shadow: 0 0 25px lighten(grey, 25%);
    width: 65vw;
    height: 1500px;
    margin: auto auto 15% auto;
    padding: 5%;
    font-size: map-get($font-size, texte);
    @include tablet{
        font-size: map-get($font-size,texte)/1.5;
        height: 950px;

    };
    @include mobile{
        font-size: map-get($font-size,texte)/2.5;
        width: 70vw;
        height: 580px;

    }

    .blocTitre {

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        @include tablet{
            height: 140px;
        }
        @include mobile{
        height: 90px;

        }


        h2 {
            display: inline-block;
            font-family: map-get($font-family, $menu);
            font-size: map-get($font-size,titreMenu);
            @include tablet{
                font-size: map-get($font-size,titreMenu)/1.3;
                @include mobile{
                    font-size: map-get($font-size,titreMenu)/2.6;
                }   
                
            }
            text-align: center;
            margin: auto;

        }
    }
    .entree,
    .plat,
    .dessert {
        margin-bottom: 8%;
    }
    ul{
        padding-inline-start: 0px;
        list-style-type: none;}
    li{
        line-height: 1.4;
    }    

    .menu--titre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        img{
            max-width: 20vw;
            width: fit-content;
            height: auto;
            flex: auto;
        }
        li:last-child> img{
            transform: scaleX(-1);
        }
        li:nth-last-child(2){
            flex: auto;
         
            
        }
   
    }
   
    .entree__menu,
    .plat__menu, 
    {
        display: flex;

        li:first-child {
            flex: 1 3 800px;
        }

        li:last-child {
            margin-left: 3%;
            flex: 0.5 0 10px;
            text-align: center;
        }

    }
    .entree__menu, .plat__menu, .dessert__menu{
        padding: 0 8% 0 8%;
    }
}   


@mixin mobile {
    @media screen and (max-width: map-get($breakpoints,mobile))  {
        @content;
    }    
}
@mixin tablet{
    @media screen and (max-width: map-get($breakpoints,tablet)){
        @content;
    }
}