@mixin menu($menu) {
    display: flex;
    text-decoration: none;
    background-color: map-get($bg-color, $menu);
    grid-area: $menu;
    width: 480px;
    height: 600px;
    max-width: 40vw;
    box-shadow: 0 0 25px lighten(grey, 25%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;  
    font-size: map-get($font-size, menu);
    font-family: map-get($font-family, $menu);
    color: map-get($text-color, $menu);
    
 

    @include tablet{
        max-height: 38vh;
        margin: auto;
        max-width: 35vw;
        width: 260px;
        font-size: map-get($font-size, menu)/1.3;

    }
    @include mobile{
        min-height: 20vh;
        height: 185px;
        margin: auto;
        width: 135px;
        font-size: map-get($font-size, menu)/2.5;

    }  
  
}

@mixin radient ($menu) {
    background: map-get($radient-text, $menu);
    background-clip: text;
    border: transparent;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -text-fill-color: transparent;

}

@mixin points {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-right: 5px;

    @include mobile{
        width: 4px;
        height: 4px;
        margin-right: 3px;
    }
  
    background-color: map-get($text-color, gen);
}


@mixin legende {
    .legende {
        display: block;
        text-align: center;
        margin-top: 7%;
        margin-bottom: 2%;
        font-size: map-get($font-size,legende);
        @include tablet{
            font-size: map-get($font-size,legende)/1.2;
        }
        @include mobile{
            font-size: map-get($font-size,legende)/2.2;
        }
    }
}

@mixin menuPage($menu) {
    color: map-get($text-color, $menu);
    background-color: map-get($bg-color, $menu);
    box-shadow: 0 0 25px lighten(grey, 25%);
    width: 65vw;
    height: 1500px;
    margin: auto auto 15% auto;
    padding: 5%;
    position: relative;
    font-size: map-get($font-size, texte);
    @include tablet{
        font-size: map-get($font-size,texte)/1.5;
        height: 100vh;

    };
    @include mobile{
        font-size: map-get($font-size,texte)/2.5;
        width: 70vw;
        height: 85vh;
        position: relative;

    }
    .menu--titre {
        h3 {
            display: block;
            flex: 2;
            text-align: center;
            position: relative;
            margin-left: 2%;
            margin-right: 2%;
            margin-block-start: 0;
             margin-block-end: 0;
           
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                border-radius: 50%;
                width: 1px;
                height: 0.15rem;
                transition: all 180ms 20ms cubic-bezier(.56,.93,1,.58);
                opacity: 0;
                background-color: map-get($text-color, $menu);
                left: 0;
            }
        }
        h3 {
        

            &:hover {
             
                &::after {
                    width: 100%;
                    opacity: 0.7;
                }
            }
        }
    }
    
 

    .blocTitre {

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        @include tablet{
        height: 30vh;
        }
        @include mobile{
        height: 18vh;

        }


        h2 {
            font-family: map-get($font-family, $menu);
            font-size: map-get($font-size,titreMenu);
            @include tablet{
                font-size: map-get($font-size,titreMenu)/1.8;
                @include mobile{
                    font-size: map-get($font-size,titreMenu)/2.8;
                }   
                
            }
            text-align: center;
            margin: auto;

        }
    }
    .entree,
    .plat,
    .dessert {
        margin-bottom: 10%;
    }
    ul{
        padding-inline-start: 0px;
        list-style-type: none;}
    li{
        line-height: 1.4;
    }    

    .menu--titre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        img{
            max-width: 20vw;
            width: fit-content;
            height: auto;
            flex: auto;
        }
        li:last-child> img{
            transform: scaleX(-1);
        }
        li:nth-last-child(2){
            flex: auto;
         
            
        }
   
    }
   
    .entree__menu,
    .plat__menu, 
    {
        display: flex;

        li:first-child {
            flex: 1 3 800px;
        }

        li:last-child {
            margin-left: 3%;
            flex: 0.5 0 10px;
            text-align: center;
        }

    }
    .entree__menu, .plat__menu, .dessert__menu{
        padding: 0 8% 0 8%;
    }
}   


@mixin mobile {
    @media screen and (max-width: map-get($breakpoints,mobile))  {
        @content;
    }    
}
@mixin tablet{
    @media screen and (max-width: map-get($breakpoints,tablet)){
        @content;
    }
}